@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;*/


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.color{
	background-color:#37979f !important;
}
.color1{
	color:#fff!important;
}

 header{
 	background-image: url(../images/bg.png);
 	background-size: cover;
 	background-repeat: no-repeat;
 }
 header .pd{
 	padding-top: 121px!important;
 }
 header .navbar-brand img{
 	width:130px;
 }
 header .navbar-nav li{}
header .navbar-nav li a{
	font-size: 20px;
	margin-left: 10px;
	border-bottom: 2px solid transparent;
	transition-duration: .3s;

	
}
header .navbar-nav li a:hover,header .navbar-nav li a.active{
border-bottom: 2px solid  #EB3A4C;


}
.navbar-light .navbar-nav .nav-link {
    color:#000000c7;
    font-family: 'Montserrat', sans-serif!important;
}
 header .inner{
 	padding: 74px 0px;

 }
header .inner h1{
	color: #2F2F2F;
	font-size: 93px;
	text-transform: uppercase;
	font-family: 'Bebas Neue', cursive;
}
header .inner h1 .red{
	color:#EB3A4C;
}
header .inner p{
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;

}
header .inner a{
	color:#EB3A4C;
	text-decoration: none;
	padding: 5px 15px;
	border:1px solid #EB3A4C;
	border-radius: 15px;
	font-size: 16px;
	transition-duration: 0.5s;
	font-family: 'Montserrat', sans-serif;
}

header .inner a:hover{
	color:white;
	background-color:#EB3A4C; 

}
